body{
  font-family: sans-serif;


}
.dropbtn {
    background-color: #34495E;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.body{
  padding: 60px 15px;
}
.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
.title{
  font-size: 2.5em;
  margin-top:0;
}
.title2{
  font-size: 1.5em;
  margin-top:0;
}

.main-header{
  background-color:#34495E;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 10px;
}
.nav-link{
  color:white;
  margin-right:-8px;
  text-decoration: none;
  width: 30%;
  display: inline-block;
}
.text-center{
  text-align:center;
}
.red-text{
  color:#F45B69;
}
.main-container{
  min-height: 50vh;
}
.card{
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tresD{
  text-shadow: 1px 3px 0px #6b251d, 1px 13px 5px rgb(171,168,168);
}

